<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!--<add name="cnnString" connectionString="Data Source=C:\Proyecto-3Capas\Database1.sdf"
      providerName="Microsoft.SqlServerCe.4.0" />-->
    <!--<add name="Tienda_Presentacion.Properties.Settings.Database1ConnectionString"
      connectionString="Data Source=|DataDirectory|\Database1.sdf"
      providerName="Microsoft.SqlServerCe.Client.4.0" />-->
    <add name="cnnString"
      connectionString="Data Source=DESKTOP-5S8QF83\LARS505;Initial Catalog=BDF;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>